.btn__hamburger {
    position: relative;
    padding: 0 0.5em 0 0;
    z-index: 100;
    width: 35px;
    margin-right: 15px;
  }

/* Creates hamburger lines */
.btn__hamburger .hamburger__bar, .btn__hamburger::after, .btn__hamburger::before {
    content:  '';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--offWhite);
    margin: 6px 0px;
}

.hamburger__nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: var(--lightestBlack);
}

.hamburger__nav--active {
    left: 30vw;
    transition: 0.4s;
}

/* If on a tablet, don't allow to be too wide */
@media screen and (min-width: 500px) {
    .hamburger__nav--active {
        left: 60vw;
    }
}

.hamburger__nav--inactive {
    left: 100vw;
    transition: 0.4s;
}

.nav__list--hb {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 2em 0 0 0;
}