.btn__hamburger {
    position: relative;
    z-index: 100;
    width: 30px;
    margin-right: 20px;
}

/* Creates hamburger lines */
.btn__hamburger .hamburger__bar, .btn__hamburger::after, .btn__hamburger::before {
    content:  '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--offWhite);
    margin: 6px 0px;
    transition: 0.3s;
}

.btn__hamburger--active::before {
    transform: rotate(-45deg) translate(-7px, 4px)
}

.btn__hamburger--active::after {
    transform: rotate(45deg) translate(-9px, -6px)
}

.btn__hamburger--active .hamburger__bar {
    opacity: 0;
}

.hamburger__nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: var(--lightestBlack);
}

.hamburger__nav--active {
    left: 30vw;
    transition: 0.4s;
}

.nav__list--hb {
    display: flex;
    flex-flow: column nowrap;
    place-content: space-between;
    height: 85%;
    margin: 0;
    padding: 2em 0 0 0.5em;
}

.hb__container {
    display: flex;
    flex-flow: column nowrap;
    height: 12%;
    place-content: space-between;
}

.nav__item--hb {
    margin: 0;
}

.nav__item--settings {
    margin-left: 0.1em;
}

.hamburger__fieldset {
    display: flex;
    background-color: white;

}


/* If on a tablet, don't allow to be too wide */
@media screen and (min-width: 500px) {
    .hamburger__nav--active {
        left: 60vw;
    }
}

.hamburger__nav--inactive {
    left: 100vw;
    transition: 0.4s;
}
