.details {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.details__p {
    font-weight: var(--weightThin);
}

.details__ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.details__btns {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    width: 80%;
    margin-top: 5%;
}

.btn__details--dash {
    width: 100% !important;
    margin-bottom: 0.5em;
}

.btns__edit-delete {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.btn__details--edit {
    flex-basis: 45%;
}

.btn__details--delete {
    flex-basis: 45%;
}