/* MOVE TO SETTINGS FORM CSS */
.settings__fieldset {
    margin: 0 0 1em 0;
}

.background__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: var(--blurAmount);
    -webkit-backdrop-filter: var(--blurAmount);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

.modal__active {
    opacity: 1;
    pointer-events: all;
}

.modal__container {
    position: relative;
    background-color: var(--offWhite);
    border-radius: var(--cardRadius);
    padding: 1em;
    width: max-content;
    max-width: 85vw;
    overflow-y: auto;
    z-index: 0;
    overflow: hidden;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5em;
    justify-content: center;
    align-items:center;
}

.modal__warning {
    color: var(--red);
    font-weight: var(--weightHeavy);
}

.modal__h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.warning__p {
    margin-bottom: 0.8em;
    font-weight: var(--weightThin)
}