/* General cards (more specific cards are below) */
.card {
    border-radius: var(--cardRadius);
    box-shadow: var(--cardDropShadow);
    margin: var(--cardMargins);
}

.card__h2 {
    grid-row: 1;
    grid-column: 1;
    font-size: 0.65em;
    margin: 0 0 0.5em;
}

.card__h3 {
    grid-row: 2;
    grid-column: 1;
    font-size: 1.5em;
    margin: 0 0 0.5em;
    font-weight: var(--weightHeavy);
}

.card__h4 {
    font-size: 0.8em;
    margin: 0 0 0.5em;
    font-weight: var(--weightNormal);
}

.card__type {
    grid-column: 1;
    grid-row: 1;
    font-size: 0.6em;
}

.card__h2--list {
    margin-left: 1.5em;
}


/* Colors */
.card__color--white {
    background-color: var(--offWhite);
}

.card__color--yellow {
    background-color: var(--yellow);
}

.card__color--brightWhite {
    background-color: var(--white);
}


/* Padding for Managers */
.card__form {
    padding: 0.5em;
}

.card__details {
    padding: 5%;
}

/* No Default cards */
.card__noDefault {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5em 0.5em 0.5em 0.8em;
}

.noDefault__h2 {
    font-weight: var(--weightThin);
}

.noDefault__p {
    font-weight: var(--weightThin)
}

.btn__noDefault {
    margin-top: 0.8em;
    align-self: center;
}