.view__subHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5em 0.5em;
    height: min-content;
    background-color: var(--offWhite);
    box-shadow: var(--headingDropShadow);
}

.subHeader__fieldset {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 0.5em;
}

.fieldset__collection {
    margin: 0 0.5em;
}