.info__container {
    display: inline-block;
    position: relative;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.info__container--active {

}

.info__container--inactive {

}

.info__text {
    display: auto;
    position: absolute;
    background-color: var(--offWhite);
    border-radius: var(--formFieldRadius);
    box-shadow: var(--cardDropShadow);
}