.icon__hovered {
    fill: var(--lighterBlack);
    transition: var(--btnHover);
}

.icon__hovered--logout {
    transform: translateX(1em);
    transition: var(--btnHover);
}

/* Colors */
.icon__gray {
    fill: var(--darkGray);
    transition: var(--btnHover);
}

.icon__lightGray {
    fill: var(--mediumGray);
    transition: var(--btnHover);
}

.icon__close {
    width: 1em;
    height: 1em;
    pointer-events: none;
}

.icon__black {
    fill: var(--lightBlack);
    transition: var(--btnHover);
}

.icon__white {
    fill: var(--offWhite);
    transition: var(--btnHover);
}

.icon__whiteNoChange {
    fill: white;
    transition: var(--btnHover);
}

.icon__disabled {
    fill: var(--darkGray) !important
}


/* Type sizes */
.icon__plus {
    height: 1em;
    width: 1em;
    margin: 0.3em 0.4em;
}

.icon__dots {
    width: 1.6em;
    height: 1em;
}

.icon__arrow {
    height: 0.5em;
    pointer-events: none;
    transform-origin: center;
    transform: rotate(270deg);
}

.icon__arrow--rotated {
    transform: rotate(90deg);
}

.icon__gear {
    height: 1.6em;
}

.icon__logout {
    height: 1.5em;
}

.icon__divider {
    margin: 0 1em;
}

.icon__hamburger {
    margin-top: 0.2em;
}