/* Main application layout after sign-in */
.app__container {
  /* display: grid;
  grid-template-rows: min-content min-content auto min-content;
  min-height: 100vh; */
  /* align-content: center; */
  display: flex;
  flex-flow: column nowrap;
  place-content: space-between;
  min-height: 100vh;
}

.container__inner {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  min-height: 50vw;
}
  
.column__list {
  margin-right: 1em;
  height: 100%;
}
  
.column__selected {
  margin-left: 0.5em;
}
  
.column__thesaurus {
  display: flex;
  flex-flow: row wrap;
}
  
/* Desktop - med-screen size - hide list column */ 
/* @media screen and (max-width: 1215px) {  
  .column__list {
    display: none;
  }
} */
/* Desktop - small-screen size - stack selected & thesaurus column  */
/* @media screen and (max-width: 768px) {
    .container__inner  {
      display: flex;
      flex-flow: column;
    }
  
    .column__selected {
      width: 75%;
    }
} */