/* Main application layout after sign-in */
.app__container {
  display: flex;
  flex-flow: column nowrap;
  place-content: space-between;
  min-height: 100vh;
}

.container__inner {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  min-height: 50vw;
}
  
.column__list {
  margin-right: 1em;
  flex-basis: 40%;
}
  
.column__selected {
  margin-left: 0.5em;
  flex-basis: 30%;
}
  
.column__thesaurus {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
}
  
/* Desktop - small-screen size - stack selected & thesaurus column  */
@media screen and (max-width: 768px) {
  .container__inner  {
    display: flex;
    flex-flow: column;
  }
}