fieldset {
  display: flex;
  flex-flow: column nowrap;
  border: none;
  margin: 0.4em 0 0.9em 0;
  padding: 0;
}
  
label {
  font-size: 0.7em;
  letter-spacing: 0.03em;
  font-weight: var(--weightThin);
}
  
input, textarea, select{
  width: min-content;
  font-size: 0.65em;
  letter-spacing: 0.03em;
  padding: 0.5em;
  background-color: var(--mediumGray);
  border-style: none;
  border-radius: var(--formFieldRadius);
}
  
textarea {
  width: 95%
} 
  
.fieldset__btn {
  display: grid;
  justify-content: center;
}
  
.input__search {
  width: 95%;
  margin-bottom: 0.3em;
}
  
.input__radio {
  margin: 0 0.2em 0 0.7em;
  padding: 0;
}