.card__list {
    display: grid;
    margin: 0.8em;
    padding: 0.5em;
    width: 97%;
    text-align: left;
    border-style: none;
    font-size: 0.9em;
    cursor: pointer;
    background-color:var(--white);
}

.card__collection--search {
    display: flex;
    flex-flow: column;  
    margin: 0.5em;
    margin-bottom: 1.5em;
    width: 79%;
    font-size: 1em;
    cursor: initial;
}

.type__margin--search {
    margin-bottom: var(--typeMarginBottom);
}

.card__btn {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.list__h2 {
    font-size: 1em;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 15px;
    font-weight: var(--weightNormal);
}

.list__p {
    grid-row: 3;
    grid-column: 1 / 2;
    font-size: 0.6em;
    letter-spacing: 0.03em;
    margin-left: 15px;
}

.list__arrow {
    grid-column: 3;
    grid-row: 1 / 4;
    justify-self: right;
    align-self: center
}