.card__selected {
    display: grid;
    padding: 0.5em;
    width: 90%;
    font-size: 1em;
    /* Need to set these as important or else they flow out of the Selected Column */
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.selected__h1 {
    grid-column: 1 / 3;
    grid-row: 2;
}

.selected__description {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: 0.6em;
}

.selected__search {
    grid-column: 1 / 3;
    grid-row: 4;
}

.selected__categorization {
    grid-column: 1 / 3;
    grid-row: 5;
}

.selected__divider {
    grid-column: 1 / 3;
    grid-row: 6;
}

.selected__words {
    grid-column: 1 / 3;
    grid-row: 7;
}