@import "./styles/form.css";
@import "./styles/card.css";
@import "./styles/scrollbar.css";
@import "./styles/dotMenu.css";
@import "./styles/toastify-overrides.css";
@import "./styles/spinner.css";

:root {
  /* Colors */
  --fontColor: #333333;

  --lightestGray: #fafafa;
  --lightGray: #F6F6F6;
  --mediumGray: #f1f1f1; 
  --darkGray: #ACACAC;
  --darkestGray: #545454;
  --shadowGray: #00000008;

  --offWhite: #FCFCFC;
  --black: rgb(7, 7, 7);
  --lightBlack: #171717ff;
  --lighterBlack: rgb(96, 96, 96);
  --lightestBlack: #262525;

  --yellow: #fbfbbe;
  --lightYellow: #ffffdb;
  --darkYellow: #f5f5b6;
  --darkestYellow: #e4e485;

  --red: #d85656;
  --redActive: #803232;

  --green: #5cb56e;

  /* SPECIFIC COLOR LOCATIONS */
  /* FOR EASIER DARK MODE TARGETING */
  --headerBlack: #171717ff;
  --fontColorInactive: #cacaca;
  --fontColorBtn: #FCFCFC;

  /* Fonts */
  --fontFamily: 'Heebo', sans-serif;
  --weightThinnest: 100;
  --weightThin: 300;
  --weightNormal: 400;
  --weightHeavy: 500;
  --weightHeavier: 700;
  --weightHeaviest: 900;

  --fontSizeHamburger: 1em;

  /* Border Radii */
  --cardRadius: 15px;
  --formFieldRadius: 0.8em;
  --wordBtnRadius: 2em;
  --lineRadius: 5em;

  /* Drop Shadow */
  --cardDropShadow: -0.1em 0.1em 0.3em var(--shadowGray);
  --headingDropShadow: 0em 0.1em 0.3em var(--shadowGray);
  --footerDropShadow: 0em -0.1em 0.3em var(--shadowGray);

  /* Cards */
  --cardMargins: 0.8em;
  --typeMarginBottom: 0.5em;
  
  /* Card Widths */
  --cardWidthThesaurusColumn: 40%;

  /* Transitions */
  --btnHover: 0.2s;

  /* CSS Loading Spinners, see spinner.css */
  --cls-color: #e4e485;
  --cls-sec-color: #f1f1f1;
  --cls-size: 5rem;
  --cls-size-small: 4rem;
  --cls-margin: 1rem;
  --cls-speed: 1s;

  /* Manager widths */
  --managerCentered: 15vw;
}

/* Set Defaults */
* {
  color: var(--fontColor);
  font-family: var(--fontFamily);
}

body {
  font-size: 1.3em;
  margin: 0;
  background-color: var(--lightGray);
}

hr {
  border: 0 solid;
  height: 0.3em;
  margin: 0 0.2em 1em 0.2em;
  border-radius: var(--lineRadius);
  background-color: var(--mediumGray);
  border-color: var(--mediumGray);
}

h1 {
  font-weight: var(--weightHeavy);
  margin: 0.2em 0 0.1em;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: var(--weightThin);
  letter-spacing: 0.03em;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: var(--weightNormal);
  letter-spacing: 0.03em;
}

p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* 
Will probably need to separate the height values 
when I make the vertical dividers for columns
*/
.line__vertical {
  min-height: 3.5vmin;
  margin: 0 0.5em;
  border: 0.15em solid var(--mediumGray);
  background-color: var(--mediumGray);
  border-radius: var(--lineRadius);
}