.thesaurus__search {
    padding: 0.5em;
    height: min-content;
    width: 18em;
}

.form__search {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
} 

.container__thesaurus {
    display: flex;
    flex-flow: row wrap;
}

.thesaurus__definitions {
    display: grid;
    grid-column: auto;
    display: flex;
    flex-flow: row wrap;
}