.manager__container {
    display: flex;
    flex-flow: column nowrap;
    width: var(--managerModalWidth);
    height: 80vh;
}

.manager__list {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 90%;
    width: 90%;
    left: 5%;
    transition: 0.5s;
    overflow-x: scroll;
}

.manager__list--inactive {
    left: 100%;
}