.collection__manager {
    display: flex;
    flex-flow: column nowrap;
    width: 50vw;
    height: 50vh;
}

.manager__list {
    position: absolute;
    height: 100%;
    width: 100%;
    left: var(--managerCentered);
    transition: 0.5s;
}

.manager__list--inactive {
    left: 100%;
}